 body {
     background: #EEE;
 }
 
 .header {
     width: 90%;
     margin: 0 auto;
 }
 
 .header img {
     float: left;
     margin-bottom: 20px;
 }
 
 .first_message {
     float: right;
     margin-top: 2%;
 }
 
 .first_message a {
     background-color: #408ebc;
     color: white;
     border-radius: 5px;
     text-decoration: none;
 }
 
 #menu {
     display: table;
     width: 90%;
     margin-left: 2%;
 }
 
 ul,
 ol {
     list-style: none;
     width: 100%;
 }
 
 .nav > li {
     float: left;
     padding-left: 6.5%;
     padding-right: 6.3%;
     padding-top: 6px;
     border: 1px solid transparent;
     background-color: #408ebc;
     padding-bottom: 6px;
     border-color: #ccc;
 }
 
 .nav li a {
     color: white;
     text-decoration: none;
     text-shadow: 0px 1px 1px #0a2e40;
     font-family: 'Share', Verdana, Geneva, Arial, Helvetica, sans-serif;
     display: block;
 }
 
 .nav li:hover {
     background-color: #65A4CA;
 }
 
 .header input[type="submit"] {
     background-color: #408ebc;
     color: white;
     border-radius: 5px;
     float: right;
     font-family: 'Share', Verdana, Geneva, Arial, Helvetica, sans-serif;
 }
 
 .slider2 {
     width: 90%;
     margin: 0 auto;
 }
 
 #slider {
     margin: auto;
     display: table;
     width: 100%;
 }
 
 #slider img {
     display: none;
     width: 98%;
     max-height: 225.49px;
     box-shadow: 0px 0px 1px black;
     border: 10px solid white;
     border-radius: 5px;
 }
 
 #slider img:nth-child(1) {
     display: block;
     margin-left: auto;
     width: 98%;
     max-height: 225.49px;
     box-shadow: 0px 0px 1px black;
     border-radius: 10px;
     border: 10px solid white;
 }
 
 .main {
     width: 40%;
     margin: 0 auto;
 }
 
 .title {
     font-family: 'Share', Verdana, Geneva, Arial, Helvetica, sans-serif;
     color: white;
     font-size: larger;
     text-align: center;
     text-shadow: 0px 0px 1px #0a2e40;
     box-shadow: 0px 0px 1px black;
     border-radius: 5px;
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
     border: 10px solid #408ebc;
     background: #408ebc;
 }
 
 .info {
     box-shadow: 0px 0px 1px black;
     border-radius: 5px;
     border: 10px solid white;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
     font-family: 'Share', Verdana, Geneva, Arial, Helvetica, sans-serif;
     background: white;
     display: grid;
 }
 
 .second_info {
     display: inline-block;
 }
 
 .info input[type="submit"] {
     background-color: #408ebc;
     color: white;
     border-radius: 5px;
     float: right;
     margin-right: 30px;
     font-family: 'Share', Verdana, Geneva, Arial, Helvetica, sans-serif;
 }
 
 .info label {
     margin-left: 30px;
 }
 
 .grade {
     margin-right: 30px;
     width: 40%;
 }
 
 .reason {
     width: 69%;
     margin-right: 30px;
     float: right;
 }
 
 .field {
     width: 40%;
     margin-right: 30px;
     float: right;
 }
 
 .line {
     line-height: 20px;
 }
 
 .footer1 {
     width: 90%;
     margin: 0 auto;
     font-family: 'Share', Verdana, Geneva, Arial, Helvetica, sans-serif;
 }
 
 .footer {
     position: absolute;
     width: 89%;
     bottom: none;
     margin: 0 auto;
 }
 
 @media screen and (max-width: 900px) {
     .first_message {
         float: left;
         padding-bottom: 20px;
     }
 }
 
 @media screen and (min-height: 800px) {
     .footer {
         bottom: 0;
     }
 }